<nav class='navbar navbar-inverse'>
<div class='navbar-header'>
     <a class="navbar-brand" href="/notes">Just Note</a>
     <a class="navbar-brand" href="#"> </a>
</div>

    <div class='container-fluid'>
        <ul class='nav navbar-nav'>
            <li ng-class='{ active: PAGE === "all" }'><a href='/notes'> Home </a></li>
            <li ng-class='{ active: PAGE === "new" }'><a href='/note/new'> Add Note </a></li>
        </ul>
         <ul class='nav navbar-nav navbar-right'>
            <li><a href='#'> Settings </a></li>
            <li ng-class='{ active: PAGE === "themes" }'><a href='/themes'> Themes </a></li>
            <li><a href='#' target='_self'> Log Out </a>
        </ul>
    </div>
</nav>
