<div class='col-lg-6'>
	<h2>Add New Note</h2>


	<form name='newNote' novalidate class='form-horizontal'>
		<div class='row form-group'>
			<label class='control-label'> Note Title *</label>
			<input ng-model='note["noteTitle"]' type='text' class='form-control' placeholder="Enter Note Title" />	
			
			<label class='control-label'> Note Description <span>*</span> </label>
			<textarea ng-model='note["noteDesc"]' class='form-control' required placeholder="Enter Description"/>	

			<label class='control-label'> Note Type <span>*</span> </label>
			<select ng-model='note["noteType"]' class='form-control' required placeholder="Select Note Type"> 
				<option value='Action Item'> Action Item </option>
				<option value='Risk'> Risk </option>
				<option value='Issue'> Issue </option>
			</select>
		</div>

		<div class='row form-group'>
			<div>
				<button class="btn btn-primary btn-lg btn-block" ng-click='save()'> Add {{ note.noteType }} </button>
			</div>
			
		</div>
	</form>
</div>