
<div class="col-lg-2">
	<div class='panel panel-primary'>
		<div class='panel-heading'>
			<h3 class='panel-title'>Dashboard</h3>
		</div>
		<div class='panel-body'>

			<div class="list-group">
				<h4 class='list-group-item-heading'> Status </h4>
					<a href="#" class="list-group-item" ng-repeat="statusItem in noteStatusList" ng-click='updateFilter("noteStatus" , statusItem)'  ng-class="{active:selectedStatus==statusItem}"> 
						{{ statusItem }} 
					</a>
			</div>

			<div class="list-group">
				<h4 class='list-group-item-heading'> Type  </h4>
					<a href="#" class="list-group-item" ng-repeat="typeItem in noteTypeList" ng-click='updateFilter("noteType" , typeItem)'  ng-class="{active:selectedType==typeItem}" > 
						{{ typeItem }} 
					</a>

			</div>
			
		</div>

	</div>
</div>

<div class="col-lg-7">
	<div class='panel panel-primary'>
		<div class='panel-heading'>
			<h3 class='panel-title'> Notes 
				<span class='badge pull-right'> {{ filteredNotes.length }} notes </span> 
			</h3>
		</div>
		<div class='panel-body'>

		<div class="input-group">
				<input type='search' class='form-control' placeholder='Search Notes...' ng-model='query'/>
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				 		 {{sortCriteria.fieldDisplay}} <span class="caret" ></span></button>
				 		<ul class="dropdown-menu dropdown-menu-right" role="menu">
				 			<li><a href="#" ng-click='setSortCriteria("noteStatus", "Status")'> Status </a></li>
				 			<li><a href="#" >  Type </a></li>
				 			<li><a href="#" ng-click='setSortCriteria("noteLastUpdatedOn", "Last Updated Time")'> Last Updated Time </a></li>
				 			<li><a href="#" ng-click='setSortCriteria("noteUpdates.length", "Number of Updates")'> Number of Updates </a></li>


				 		</ul>
				 </div>
				 <div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				 		 {{sortCriteria.orderDisplay}} <span class="caret" ng-model='sortCriteria'></span></button>button>
				 		<ul class="dropdown-menu dropdown-menu-right" role="menu">
				 			<li><a href="#" ng-click='setSortOrder("Ascending")'> Ascending</a></li>
				 			<li><a href="#" ng-click='setSortOrder("Descending")'> Descending </a></li>
				 		</ul>
				 </div>
		</div>

			<div class='list-group'>
				<a href="#" class='list-group-item' ng-repeat='note in filteredNotes | filter: query  | orderBy: sortCriteria.sortField: sortCriteria.sortOrder'>
				<h4 class='list-group-item-heading'>
					{{ note['noteTitle'] }} 							
					<span class="badge progress-bar-info"> {{ note['noteType'] }} </span>

					<span class="badge progress-bar-warning" ng-click="updateQuery(note['noteStatus'], true)"> {{ note['noteStatus'] }} </span>

				 	<span class='badge alert-primary pull-right' ng-click='pop(note["noteId"], "update")'>
				 		{{ note.noteUpdates.length}}
				 	</span>
				</h4>			

				<p class='list-group-item-text'>				
				 	<table><td>{{ note['noteDesc'] }} </td>
				 	<span class='glyphicon glyphicon-edit pull-right' ng-click='pop(note["noteId"], "edit")'></span>
				 	</table>

					<span class="label label-default pull-right"> 
						Last Updated on {{ note["noteLastUpdatedOn"] | date: 'dd-MMM-yyyy, HH:mm:ss' }}	
					</span>
				</p>

				</a>
			</div>	
		</div>
		
	</div>

</div>


<div class="col-lg-3">
	<div class='panel panel-primary'>
		<div class='panel-heading'>
			<h3 class='panel-title'> Stats 
			</h3>
		</div>
		<div class='panel-body'>
			<div class="list-group">
					<h4 class='list-group-item-heading'> Stale Since </h4>
					<a href="#" class="list-group-item active"> All </a>
					<a href="#" class="list-group-item"> 2 Days </a>
					<a href="#" class="list-group-item"> 1 Week </a>
					<a href="#" class="list-group-item"> 2 Weeks </a>
					<a href="#" class="list-group-item"> 1 Month </a>
					<a href="#" class="list-group-item"> > 1 Month </a>
			</div>
		</div>
	</div>
</div>
