<div class="col-lg-6">


<p><label> Title </label> <span>{{ note["noteTitle"]}}</span></p>
<p><label> Length </label> <span>{{ note["noteUpdates"].length}}</span></p>
<p><label> New Update Index </label> <span>{{ newUpdateIndex }}</span></p>
<p>
<button ng-click="see()"> view </button>
</p>
<form name='updateForm' novalidate class='form-horizontal'>
		<div class='row form-group'>
			<label class='control-label'> Update <span>*</span> </label>
			<textarea ng-model='myUpdate[0]["updateText"]' class='form-control' required placeholder="Enter Update"/>
		</div>
		<div class='row form-group'>
			<div>
				<button class="btn btn-primary btn-lg btn-block" ng-click='postUpdate()'> Post Update </button>
			</div>
			
		</div>			


		<p><span> 1: {{ note["noteUpdates[newUpdateIndex]"]["updateText"] }} </span></p>
		<p><span> 2: {{ myUpdate[0].updateId}} </span></p>
		<p><span> 3: {{ myUpdate[0].updateText}} </span></p>
</form>
</div>
