
<div class="col-lg-6">
	<div class="well">
		<h4> {{ note.noteTitle }} </h4>
	
	<form name='updateForm' novalidate class='form-horizontal'>
			<div class='row form-group'>
				<label class='control-label'> Update <span>*</span> </label>
				<textarea ng-model='myUpdate[0]["updateText"]' class='form-control' required placeholder="Enter Update"/>
			</div>
			<div class='row form-group'>
				<div>
					<button class="btn btn-success btn-lg btn-block" ng-click='postUpdate()'> Post Update </button>
				</div>
				
			</div>			
	</form>
	</div>
</div>

<div class="col-lg-6">

	<div class='panel panel-primary'>
		<div class='panel-heading'>
			<h4 class='panel-title'> Number of Updates : {{ note.noteUpdates.length}} </h4>
		</div>
		<div class='panel-body'>
			<p><input type='search' class='form-control' placeholder='Search Updates' ng-model='query' /></p>
			<div class='list-group'>
				<a href="#" class='list-group-item' ng-repeat='update in note["noteUpdates"] | filter: query  | orderBy: "-updateCreatedOn"'>
				<h4 class='list-group-item-heading'>
					{{ update.updateText }} 		
					<span class="badge progress-bar-info"> {{update.updateOwner}}</span>					
				</h4>			

				<p class='list-group-item-text'>				
				 	<table><td align='right'>Created:  {{ update['updateCreatedOn'] | date: 'dd-MMM-yyyy, HH:mm:ss'}} </td>
				 	</table>
				</p>
				</a>
			</div>	
		</div>
		
	</div>
</div>